# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.nar
*.zip
*.tar.gz
*.rar
hsqldb/

# Spring Boot
.spring-boot-devtools.properties

# IntelliJ IDEA
*.iml
*.iws
*.ipr
.idea/
out/

# Eclipse
.classpath
.project
.settings/
.factorypath

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/

# Uploads
uploads/

# Database dumps
*.db
*.sqlite
*.sqlite3
*.dump
*.sql


# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Environment variables
.env
.env.local

# PDF
*.pdf
